.title-create-article{
  color: #aaa5d4;
  display: flex;
  justify-content: center;
}

#bloc-create-article{
  display: flex;
justify-content: center;
margin: 7px;

}

.form-create-article{
  width: 80vw;
}

#blog{
  color: #67576b;
font-size: xx-large;
background-color: #f3969a;
border-radius: 53px;
padding-inline-start: 31px;
padding-inline-end: 31px;
}