/*                                     FORMS                                  */
#authentification {
  display: flex;
  justify-content: center;
}

.create-your-acount{
  text-align: center;
  margin-bottom: 19px;
}

.foo{
  width: 455px;
  padding: 24px;
  background-color: white;
  margin: 18px;
  border-radius: 26px;

}

.form-create{
  width: 574px;
  display: flex;
  justify-content: center;
  background-color: #f0e1ce;

}

#second{

  background-color: #f0e1ce;
  border: #f0e1ce;
   border: 1px solid grey;
  width: 485px;
  height: 357px;
  margin-top: 36px;
  background-color: #f0e1ce;
  border: #f0e1ce;
}


.p1, .p2 {
text-align: center;
margin: 0;
}

#blog{
  color: #67576b;
font-size: xx-large;
background-color: #f3969a;
border-radius: 53px;
padding-inline-start: 31px;
padding-inline-end: 31px;
}


/* ---------------------------------------END FORMS--------------------------------------------- */
#nav{
  background-color: #f8f9fa;
  display: flex;

}

#block{
  background-color: #f0e1ce;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;

}

.tab{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.tab-bord{
  width: 100vw;
  height: 6vh;
  display: flex;
justify-content: center;
flex-direction: column;
align-items: flex-end;
flex-flow: wrap;

}

.tab-bord{
  font-size: 20px;
}
.tab-article{
  width: 100vw;
  height: 60px;
  display: flex;
justify-content: center;
}


.admin{
  font-size: 40px;
  color: #fffefe;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #c2bdc1;
}

.vertical-menu a:hover {
  background-color: #f5e7e7;
  text-decoration: none;
  text-align: center;
  color: #867C84;
}

.vertical-menu a.active {
  background-color: #f3969a;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
}

.nb-article{
 
  font-size: 42px; 
  color: #deb3b3;
}

.bloc-articles{
  background: white;
border-radius: 23px;

}

#my-article{
  margin: 6px;
  border-bottom: 1px solid antiquewhite;
  margin-bottom: 8px;
}


/* ------------((((((((((--------ARTICLES----------------------)))))))))))))) */
 .card{
  background-color: #f0e1ce;
  border: #f0e1ce;

 }