{% extends "base.html.twig" %} 
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/createarticle.css')}}">{% endblock %}

{% block body %}

<h1 class="title-create-article">Crée ton article : </h1>

<div id="bloc-create-article">
{{ form_start(formArticle,
  {'attr': {'class': "form-create-article"}}) }}

  {{ form_row(formArticle.title,
   {'attr': {'placeholder': "Titre de l'article"}}) }}
   
  {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
  {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}
  {{ form_row(formArticle.date) }}
  {{ form_row(formArticle.save, {'attr': {'class': "btn btn-primary"}}) }}
  
{{ form_end(formArticle) }}

</div>

{% endblock body %}
