{% extends "base.html.twig" %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/myarticle.css')}}">{% endblock %}
{% block principal %}
  
{% endblock principal %}

{% block body %}
<h1 class="article-title">{{article.title}}</h1>  

<p class="date-article"> Date de publication: {{article.date.format('d-m-y')}}</p>


<img src="{{asset(article.image)}}" alt="image de l'article" class="d-flex mx-auto">

<article class="text-article">
    {{article.content}}
</article>

<a href="{{path('articles')}}" id="button" class="btn btn-info">
  Mes articles</a>

{% endblock body %}