<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="{{asset('css/main.css')}}">{% endblock %}
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
         <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css"> 
        
    </head>
    <body>
        {% block principal %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" id="blog" href="#">Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                  
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor07">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{path('conection')}}">Identification</a>
                    </li>
                    {% if is_granted("ROLE_USER") %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{path('articles')}}">Voir mes articles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{path('add-article')}}">Créer un article</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Mon compte</a>
                    </li>
                    {% endif %}
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" placeholder="Search" type="text">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        {% endblock principal %}
        {% block nav %}
        {% endblock nav %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="{{asset('js/script.js')}}"></script>
    </body>
</html>
