{% extends "base.html.twig" %}

{% block title %}
Conection
{% endblock title %}

{% block body %}
<article  class="list-group mx-auto" id="second">
  <h1 class="align-self-center">Identifiez-vous :</h1>

  <form action="{{ path("conection")}}" method="POST" class="list-group-item align-self-center" >
    <div class="form-group row">
      <label for="inputMail" class="col-sm-offset-7 col-sm-3 col-form-label">Mail :</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" id="inputMail" name="_username">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-sm-offset-7 col-sm-3 col-form-label">Password :</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="inputPassword" name="_password">
      </div>
    </div>

    <div class="mybutton">
<button  class="btn btn-outline-secondary d-flex justify-content-center">Valider</button>
</div>

<div class="d-inline justify-content-center">
  <p class="p1">You don't have an account? </p>
  <p class="p2"><a href="{{path('create')}}"> Sign up</a></p>
 
</div>
</form>
</article>

{% endblock body %}