{% extends "base.html.twig" %} 


{% block title %} Create your account {% endblock title %} 

{% block body %}

<h1 class="create-your-acount">Create your account :</h1>
<article id="authentification m-auto">
  
  <div class="form-create m-auto">
  {{ form_start(form,  {'attr': {'class': 'foo'}})}}
  

    {{ form_row(form.name) }}
     
    {{ form_row(form.surname) }}
    {{ form_row(form.email) }}
    
    {{ form_row(form.birthdate) }}
    {{ form_row(form.password) }}
    <div class="text-center">
    <a href="{{path('conection')}}"><button class="btn btn-outline-secondary">Submit</button></a>
</div>
    <div class="d-inline justify-content-center mb-auto">
    <p class="p1">You have an account? </p>
    <p class="p2"><a href="{{path('conection')}}">Login</a></p>
   
  </div>
</div>
  {{ form_end(form) }}
  
</article>



 



{% endblock body %}