{% extends "base.html.twig" %} 
{% block principal %}
  
{% endblock principal %}

{% block nav %}
<div class="container-fluid">
  <div class="row tab">
    <div id="nav" class="col-lg-2">

      <div class="tab-bord">
        <p class="tabbord">Mon tableau de bord</p>


        <div class="vertical-menu">
          <a href="#" class="active">Mes articles</a>
          <a href="{{path('add-article')}}">Créer un article</a>
          <a href="{{path('conection')}}">Identification</a>
          <a href="#">Mon compte</a>
        
        </div>
       
      </div>

  

    </div>


    <div id="block" class="col-lg-9">

      <div class="tab-article">
        <p class="admin" >Mes articles: </p>
</div>


<div class="container-fluid">
<div class="bloc-articles">

{% for row in article %}

    <div class="card-body" id="my-article">
      <h5 class="nb-article" >Article n°{{row.id}}   :   {{row.title}}</h5>
      <p class="card-text">{{row.content[:200]}}</p>
      <p class="card-text"><small class="text-muted">Date de publication :{{row.date.format('Y-m-d')}}</small></p>
      
     <div class="container ">
      <div class="row">
        <div class="ml-auto">
          <a class="btn btn-info m-auto" href="{{ path('update_article', {'id': row.id}) }}" id="btn-edit-article">Editer</a>

        <a href="{{ path('article', {'id': row.id}) }}" class="btn btn-warning">Voir plus</a>

       <a class="btn btn-danger m-auto" href="{{ path('remove_article', {'id': row.id}) }}" id="btn-supr-article">Supprimer</a>

       </div>
          
        </div></div>
       <img class="card-img " src="{{asset(row.image)}}" alt="Image de l'article">
    </div>
    
  

{% endfor %}
</div>
</div>
</article>

 
  

    </div>
  </div>
</div>
{% endblock nav %}