{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/createarticle.css')}}">{% endblock %}


{% block body %}

<h1 class="title-create-article">Crée ton article : </h1>

<div id="bloc-create-article">
{{ form_start(form, {'attr': {'class': "form-create-article"}}) }}

  {{ form_row(form.title,
   {'attr': {'placeholder': "Titre de l'article"}}) }}
   
  {{ form_row(form.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
  {{ form_row(form.image, {'attr': {'placeholder': "URL de l'image"}}) }}
  {{ form_row(form.date) }}
  {{ form_row(form.save, {'attr': {'class': "btn btn-primary"}}) }}
  
{{ form_end(form) }}

</div>
{% endblock %}
